[submodule "Vendor/glm"]
	path = Vendor/glm
	url = https://github.com/g-truc/glm.git
[submodule "Vendor/glfw"]
	path = Vendor/glfw
	url = https://github.com/glfw/glfw.git
[submodule "Vendor/gch"]
	path = Vendor/gch
	url = https://github.com/gharveymn/small_vector
[submodule "Vendor/AbyssFreetype"]
	path = Vendor/AbyssFreetype
	url = https://github.com/xexaaron/AbyssFreetype
[submodule "Vendor/ImGui/imgui"]
	path = Vendor/ImGui/imgui
	url = https://github.com/ocornut/imgui
	branch = docking
[submodule "Vendor/AbyssImWeb"]
	path = Vendor/AbyssImWeb
	url = https://github.com/xexaaron/AbyssImWeb
